node_modules
.git
.gitignore
.env
.env.*
*.log
.vscode
.idea
.DS_Store
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
.phpunit.result.cache
*.md
Dockerfile
.dockerignore
compose.yaml
docker-compose.yml
